@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    list-style: none;
    color: #a6e22e;
    background-color: black;
}

body {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.main {
    width: 490px;
    overflow-wrap: break-word;
}

input {
    border-style: groove;
    border-color: #a6e22e;
}

.button {
    cursor: pointer;
}

.divider {
    background: chartreuse;
    height: 1px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

span {
    font-weight: 600;
}

.footnote {
    padding-top: 2vh;
    font-size: 12px;
    text-align: right;
}
