@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;
}

header a {
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;
}

header button {
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;

}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style:none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:active {
    color: #007a99;
}

.navlinks li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

body {
    background-color: #16171a;
}

.main {
    font-size: 19px;
    color:#dadada;
    margin: auto;
    position:relative;
    padding-top:60px;
    text-align:left;
    width:50%;
    font-family:sans-serif;
}

.main a {
    color: rgba(0,136,169,1);
    text-decoration: none;
}

.signatur {
    float: right;
}

.footer {
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color:#dadada;
    padding-left:60;
    padding-right:60;
    box-shadow: 0 50vh 0 50vh #dadada;
}

.bildgalleri {
    width:80%;
    margin: 100px auto 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.bildgalleri img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.bildgalleri img:hover {
    transform: scale(0.8);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(219, 2, 2, 0.2);
}

.hel_bild {
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.hel_bild img {
    width: 90%;
    max-width: 500px;
}

.hel_bild span {
    font-family: "Montserrat", sans-serif;
    position:absolute;
    top:5%;
    right:5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
